<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binarprojectpertama">

    <application
        android:allowBackup="true"
        android:icon="@drawable/binar_logo"
        android:label="@string/chapter_title"
        android:roundIcon="@drawable/binar_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BinarProjectPertama">
        <activity
            android:name=".FourthActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>